<section>
  <form [formGroup]='loginForm'
        (ngSubmit)="onSubmit()"
        fxLayout="column"
        fxLayoutAlign="space-between center"
        fxLayoutGap="10px">
    <mat-form-field>
      <input type="text"
             #username
             formControlName='username'
             placeholder="Username"
             matInput>
      <mat-error *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched">
        <mat-error *ngIf="loginForm.get('username').errors['required']">Username is required.</mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password"
             #password
             formControlName='password'
             placeholder="Password"
             matInput>
      <mat-error *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">
        <mat-error *ngIf="loginForm.get('password').errors['required']">Password is required.</mat-error>
      </mat-error>
    </mat-form-field>
    <div fxLayout="row">
      <button mat-raised-button [disabled]="!loginForm.valid"
              color="primary"
              type="submit">Login</button>
    </div>
  </form>
</section>
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]='loginForm'
            (ngSubmit)="onSubmit()">
        <div formGroupName="userData">
          <mat-form-field>
            <label for="username">Username</label>
            <input type="text"
                   id="username"
                   formControlName='username'
                   matInput>
            <span *ngIf="!loginForm.get('userData.username').valid && loginForm.get('userData.username').touched"
                  class="help-block">
              <span *ngIf="loginForm.get('userData.username').errors['nameIsForbidden']"
                    class="help-block">Username is invalid.</span>
              <span *ngIf="loginForm.get('userData.username').errors['required']"
                    class="help-block">Username is required.</span>
            </span>
          </mat-form-field>
          <div class="form-group">
            <label for="email">email</label>
            <input type="text"
                   id="email"
                   formControlName='email'
                   class="form-control">
            <div *ngIf="!loginForm.get('userData.email').valid && loginForm.get('userData.email').touched"
                 class="help-block">Valid email address is required.</div>
          </div>
        </div>
        <div class="radio"
             *ngFor="let gender of genders">
          <label>
            <input type="radio"
                   formControlName="gender"
                   [value]="gender">{{ gender }}
          </label>
        </div>
        <button mat-raised-button color="primary"
                type="submit"><i class="fa fa-sign-in"></i> Submit</button>
      </form>
    </div>
  </div>
</div> -->
