<section>
  <form [formGroup]='changePasswordForm'
        (ngSubmit)="onSubmit()"
        fxLayout="column"
        fxLayoutAlign="space-between center"
        fxLayoutGap="10px">
    <mat-form-field>
      <input type="text"
             #oldPassword
             formControlName='oldPassword'
             placeholder="Old Password"
             matInput>
      <mat-error *ngIf="!changePasswordForm.get('oldPassword').valid && changePasswordForm.get('oldPassword').touched">
        <mat-error *ngIf="changePasswordForm.get('oldPassword').errors['required']">Username is required.</mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password"
             #newPassword
             formControlName='newPassword'
             placeholder="New Password"
             matInput>
      <mat-error *ngIf="!changePasswordForm.get('newPassword').valid && changePasswordForm.get('newPassword').touched">
        <mat-error *ngIf="changePasswordForm.get('newPassword').errors['required']">Password is required.</mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password"
             #confirmedNewPassword
             formControlName='confirmedNewPassword'
             placeholder="Confirmed New Password"
             matInput>
      <mat-error
                 *ngIf="!changePasswordForm.get('confirmedNewPassword').valid && changePasswordForm.get('confirmedNewPassword').touched">
        <mat-error *ngIf="changePasswordForm.get('confirmedNewPassword').errors['required']">Password is required.
        </mat-error>
      </mat-error>
    </mat-form-field>
    <mat-error class="message"
               *ngIf="changePasswordForm.errors?.passwordCompare">Password does not matched.
    </mat-error>
    <div mat-dialog-actions>
      <button mat-raised-button
              [disabled]="!changePasswordForm.valid"
              color="primary"
              type="submit">Change</button>
      <button mat-raised-button
              color="accent"
              type="button"
              [mat-dialog-close]="false"
              cdkFocusInitial>Cancel</button>
    </div>
  </form>
</section>
