<mat-toolbar color="primary">
  <div fxFlex
       fxLayout="row"
       fxLayoutGap="10px">
    <div><i class="fa fa-bars"
         (click)="sidenav.toggle()"></i></div>
    <div> <a routerLink="/">AMS</a></div>
  </div>
  <div fxFlex
       fxLayout
       fxLayoutAlign="flex-end">
    <ul fxLayout
        fxLayoutGap="16px"
        class="navigation-items">
      <li *ngIf="!!isLoggedIn">Welcome {{usernameToDisplay.toUpperCase()}}</li>
      <li *ngIf="!!isLoggedIn"
          (click)="onChangePassword()"
          matTooltip="Change Password"><i class="fa fa-key"></i></li>
      <li><a routerLink="/login"
           *ngIf="!isLoggedIn"
           matTooltip="Sign In">Sign In <i class="fa fa-sign-in"></i></a></li>
      <li><a routerLink="/login"
           (click)="onSignOut()"
           *ngIf="!!isLoggedIn"
           matTooltip="Sign Out"><i class="fa fa-sign-out"></i></a></li>
    </ul>
  </div>
</mat-toolbar>

<!-- 
<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Self aware panel
      </mat-panel-title>
      <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>I'm visible because I am open</p>
  </mat-expansion-panel>
</mat-accordion> -->

<mat-drawer-container autosize>
  <mat-drawer #sidenav
              role="heading"
              mode="side"
              opened>
    <mat-nav-list *ngIf="!!isLoggedIn">
      <mat-accordion displayMode="flat"
                     multi="true"
                     #accordion="matAccordion">
        <div *ngFor="let menu of myMenu">
          <div *ngIf="!menu.hasSubMenu">
            <a mat-list-item
               [routerLink]="menu.link"> <i [class]="menu.icon"></i><span
                    class="mat-list-item-text">{{menu.title}}</span></a>
          </div>
          <div *ngIf="!!menu.hasSubMenu">
            <mat-expansion-panel  [expanded]="menu.isExpanded">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <i [class]="menu.icon"></i><span class="mat-list-item-text">{{menu.title}}</span>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-list dense>
                <mat-list-item *ngFor="let item of menu.subMenus">
                  <i [class]="item.icon"></i><span class="mat-list-item-text">{{item.title}}</span> </mat-list-item>
              </mat-list>
            </mat-expansion-panel>
          </div>
        </div>
      </mat-accordion>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-drawer-content>
</mat-drawer-container>
